{% load i18n %}

<div class="comment-form">
    <form method="post" id="comment-form">
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {{ hidden_field.errors }}
        {% endfor %}

        <div class="comment-form-item">
            <label class="{{ form.label_class }}" for="{{ form.user_name.id_for_label }}">
                {% trans 'Your Name' %}&nbsp;<strong>*</strong>
            </label>
            {{ form.user_name }}
            {{ form.user_name.errors|safe }}
        </div>

        <div class="comment-form-item">
            <label class="{{ form.label_class }}" for="{{ form.user_email.id_for_label }}">
                {% trans 'Email Address' %}&nbsp;<strong>*</strong>
            </label>
            {{ form.user_email }}
            <small>{% trans 'Your email address will not be published.' %}</small>
            {{ form.user_email.errors|safe }}
        </div>

        <div class="comment-form-item">
            <label class="{{ form.label_class }}" for="{{ form.comment.id_for_label }}">
                {% trans 'Comment' %}&nbsp;<strong>*</strong>
            </label>
            {{ form.comment }}
            {{ form.comment.errors|safe }}
        </div>

        <div class="comment-form-item">
            <small>
                {% blocktrans trimmed %}
                    Comments are subject to approval and moderation.
                    If you don't see your comment, please be patient.
                    It may be posted soon. Do not post your comment a second time.
                    Thank you.
                {% endblocktrans %}
            </small>
        </div>

        <div class="comment-form-item">
            <input type="submit" value="{% trans 'Submit' %}" class="button button-large">
        </div>
    </form>
</div>
