{% load i18n urlparams %}

<nav aria-label="pagination" class="pagination">
    <ul class="pager">
        {% if page.has_previous %}
            <li class="previous">
                <a href="{% url 'blog:post_list' %}{% urlparams page=page.previous_page_number %}">
                    <span aria-hidden="true">&larr;</span>
                    {% trans 'Previous' %}
                </a>
            </li>
        {% endif %}

        {% if page.has_next %}
            <li class="next">
                <a href="{% url 'blog:post_list' %}{% urlparams page=page.next_page_number %}">
                    {% trans 'Next' %}
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
