{% load i18n %}

<ul class="pager">
    {% if posts.has_previous %}
        <li class="previous">
            {# TODO: Use fullsite url #}
            <a href="/?page={{ page.previous_page_number }}">&larr; {% trans 'Previous' %}</a>
        </li>
    {% endif %}

    {% if page.paginator.num_pages > 1 %}
        <li class="current">
            {% blocktranslate with number=page.number num_pages=page.paginator.num_pages %}
                Page {{ number }} of {{ num_pages }}
            {% endblocktranslate %}
        </li>
    {% endif %}

    {% if posts.has_next %}
        <li class="next">
            {# TODO: Use fullsite url #}
            <a href="/?page={{ page.next_page_number }}">{% trans 'Next' %} &rarr;</a>
        </li>
    {% endif %}
</ul>
