{% load i18n %}

<article class="blog-post">
    <header>
        <h2 class="blog-post-title">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title | escape }}
            </a>
        </h2>

        <div class="post-meta">
            <time datetime="{{ post.published_at | date:"Y-m-d\TH:i:sO" }}">
                {{ post.published_at | date:"Y.m.d" }}
            </time>
        </div>
    </header>

    <p class="blog-post-content">
        {{ post.body|truncatewords:30|linebreaks }}
    </p>

    <footer>
        <a href="{{ post.get_absolute_url }}">
            {% trans 'Read more...' %}
        </a>
    </footer>
</article>
