{% load i18n date_to_xmlschema %}

<article class="blog-post">
    <header>
        <h2 class="blog-post-title">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title|escape }}
            </a>
        </h2>

        <div class="post-meta">
            <time datetime="{{ post.published_at|date_to_xmlschema }}">
                {{ post.published_at|date:"Y.m.d" }}
            </time>
        </div>
    </header>

    <p class="blog-post-content">
        {% if post.excerpt and post.excerpt.strip %}
            {{ post.excerpt|safe|truncatewords:40 }}
        {% else %}
            {{ post.body|safe|truncatewords:40 }}
        {% endif %}
    </p>

    <footer>
        <a href="{{ post.get_absolute_url }}">
            {% trans 'Read more...' %}
        </a>
    </footer>
</article>
