# Copyright (C) 2021 Serghei Iakovlev <egrep@protonmail.ch>
#
# This file is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 3
# of the License, or (at your option) any later version.
#
# This file is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this file.  If not, see <https://www.gnu.org/licenses/>.

[MASTER]

# Ignore files and directories for linting.
ignore=migrations,tests

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code
extension-pkg-whitelist=unicodedata

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=
    fixme,
    too-few-public-methods,
    too-many-ancestors,
    no-self-use,
    duplicate-code,
    import-outside-toplevel,
    unused-argument,
    attribute-defined-outside-init

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=0

[LOGGING]

# The type of string formatting that logging methods do. `old` means using %
# formatting, `new` is for `{}` formatting.
logging-format-style=old


[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=i,j,k,n,ex,cd,Run,handler404,_
