# Common project dependencies

beautifulsoup4==4.9.3
celery[redis]==5.0.5
django-compressor==2.4.1
django-environ-2==2.1.0
django-recaptcha==2.0.6
django-redis==5.0.0
gunicorn==20.1.0
pillow==8.2.0
pyquery==1.4.3

# Dependencies of the common project dependencies

soupsieve==2.2.1
    # via beautifulsoup4

lxml==4.6.3
cssselect==1.1.0
    # via pyquery

kombu==5.1.0
billiard==3.6.4.0
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
    # via celery

click==8.0.1
    # via
    #   celery
    #   click-didyoumean
    #   click-plugins
    #   click-repl

prompt-toolkit==3.0.18
    # via click-repl

wcwidth==0.2.5
    # via click-repl

amqp==5.0.6
    # via kombu

vine==5.0.0
    # via
    #   amqp
    #   celery

django-appconf==1.0.4
rcssmin==1.0.6
rjsmin==1.1.0
    # via django-compressor

django==3.2.4
    # via
    #   appconf
    #   django-redis

asgiref==3.3.4
sqlparse==0.4.1
    # via django

pytz==2021.1
    # via
    #   django
    #   celery

redis==3.5.3
    # via
    #   django-redis
    #   celery

six==1.16.0
    # via
    #   click-repl
    #   django-compressor
