# Copyright (C) 2021 Serghei Iakovlev <egrep@protonmail.ch>
#
# This file is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 3
# of the License, or (at your option) any later version.
#
# This file is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this file.  If not, see <https://www.gnu.org/licenses/>.

# Comma-separated list
ALLOWED_HOSTS=127.0.0.1,

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY="secret"

# See ``help(environ.Env.db_url_config)``
DATABASE_URL=sqlite:///db.sqlite3

# If compression should be done outside of the request/response loop.
COMPRESS_OFFLINE=False

# Comma-separated list
INTERNAL_IPS=127.0.0.1,

# Website base url
BASE_URL=https://127.0.0.1
