{% load static %}

<!-- Open Graph metadata -->
<meta property="og:url" content="{{ BASE_URL }}{{ resource_url|default:request.path }}">
<meta property="og:type" content="{{ resource_type|default:'website' }}">
<meta property="og:title" content="{{ page_title|default:SITE_NAME }}">
<meta property="og:description" content="{% include 'partials/description-value.html' %}">
<meta property="og:site_name" content="{{ SITE_NAME|default:'Branch' }}">
<meta property="og:locale" content="{{ page_locale|default:LOCALE }}">

{% if featured_image %}
    <meta property="og:image" content="{{ BASE_URL }}{{ featured_image.url }}">
{% else%}
    <meta property="og:image" content="{{ BASE_URL }}{% static 'img/blog-logo.jpg' %}">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
{% endif %}
<meta property="og:image:alt" content="{{ page_title|default:SITE_NAME }}">
