{% load static seo_helpers %}

<meta property="og:url" content="{{ SITE_URL }}{{ resource_url|default:request.path }}">
<meta property="og:type" content="{{ resource_type|default:'website' }}">
{% block og_article %}{% endblock %}
<meta property="og:title" content="{{ seo_title|default:SITE_NAME }}">

{% if seo_description and seo_description.strip %}
    <meta property="og:description" content="{{ seo_description|sanitize_description }}">
{% else %}
    <meta property="og:description" content="{{ SITE_DESCRIPTION|sanitize_description }}">
{% endif %}

<meta property="og:site_name" content="{{ SITE_NAME }}">
<meta property="og:locale" content="{{ seo_locale|default:LOCALE }}">

{% if featured_image %}
    <meta property="og:image" content="{{ SITE_URL }}{{ featured_image.url }}">
{% else%}
    <meta property="og:image" content="{{ SITE_URL }}{% static 'img/blog-logo.jpg' %}">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
{% endif %}

<meta property="og:image:alt" content="{{ seo_title|default:SITE_NAME }}">
