{% load i18n static %}

<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<aside class="sidebar sidebar-image sidebar-image-on"
       id="sidebar"
       style="background-image: url({% static 'img/dark-forest.jpg' %});">
    <div class="sidebar-item">
        <p>{{ site_description|default:'Site description' }}</p>
    </div>

    <nav class="sidebar-nav">
        {# TODO: resolve active class #}
        <a class="sidebar-nav-item" href="{% url 'blog:post_list' %}">
            {% trans 'Blog' %}
        </a>
        <a class="sidebar-nav-item" href="{% url 'telegraph:contact_form' %}">
            {% trans 'Contact Form' %}
        </a>
        {% for p in pages %}
            <a class="sidebar-nav-item" href="{{ p.get_absolute_url }}">
                {{ p.title }}
            </a>
        {% endfor %}

        {# TODO: Implement me #}
        {# <a class="sidebar-nav-item" href="/search.html"> #}
            {# {% trans 'Search' %} #}
        {# </a> #}

        <div class="sidebar-nav-item">
            <a href="{% url 'blog:posts_atom' %}" title="{% trans 'Subscribe to posts (Atom)' %}">Atom</a>
            <span aria-hidden="true">|</span>
            <a href="{% url 'blog:posts_rss' %}" title="{% trans 'Subscribe to posts (RSS 2.0)' %}">RSS 2.0</a>
        </div>

        <a class="sidebar-nav-item" href="https://github.com/{{ site_github_username }}" target="_blank">
            {% trans 'GitHub Profile' %}
        </a>
    </nav>

    <div class="sidebar-item">
        <p>
            &copy; {{ site_copyright_holder }} 2018-{% now "Y" %}.
            {% trans 'Unless otherwise stated, all content on the site is available under' %}
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license" target="_blank">
                CC BY-NC-SA 4.0
            </a>&nbsp;.
        </p>
    </div>
</aside>
