{% extends 'page.html' %}

{% load i18n static %}

{% block page_title %}{{ seo_title }} - {{ block.super }}{% endblock %}

{% block header_js %}
    <!-- Head scripts -->
    {% with ext=debug|yesno:'.js,.min.js' %}
        <script src="{% static 'jquery/dist/jquery' %}{{ ext }}"></script>
    {% endwith %}
{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block page_content %}
    <h1 class="page-title">
        {% if sent %}{% trans 'E-mail successfully sent' %}{% else %}{{ seo_title }}{% endif %}
    </h1>
    <div class="introduction" role="dialog">
        <p>
            {% if sent %}
                {% trans "Your e-mail was successfully sent. I'll read your e-mail as soon as possible." %}
            {% else %}
                {% blocktranslate trimmed %}
                    Use the form below to send me a private message.
                    Usually e-mails arrive within a couple of seconds.
                    But this doesn't mean that I'll read your e-mail in the
                    same swift manner.
                {% endblocktranslate %}
            {% endif %}
        </p>

        {% if not sent %}
        <div class="contact-form">
                <form method="post" id="contact-form">
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                        {{ hidden_field.errors }}
                    {% endfor %}
                    {{ form.captcha }}

                    <div class="contact-form-item">
                        <label class="{{ form.label_class }}" for="{{ form.name.id_for_label }}">
                            {% trans 'Your Name' %}&nbsp;<strong>*</strong>
                        </label>
                        {{ form.name }}
                        {% if form.name.errors %}{{ form.name.errors|safe }}{% endif %}
                    </div>

                    <div class="contact-form-item">
                        <label class="{{ form.label_class }}" for="{{ form.email.id_for_label }}">
                            {% trans 'Email Address' %}&nbsp;<strong>*</strong>
                        </label>
                        {{ form.email }}
                        {% if form.email.errors %}{{ form.email.errors|safe }}{% endif %}
                    </div>

                    <div class="contact-form-item">
                        <label class="{{ form.label_class }}" for="{{ form.subject.id_for_label }}">
                            {% trans 'Subject' %}
                        </label>
                        {{ form.subject }}
                        {% if form.subject.errors %}{{ form.subject.errors|safe }}{% endif %}
                    </div>

                    <div class="contact-form-item">
                        <label class="{{ form.label_class }}" for="{{ form.message.id_for_label }}">
                            {% trans 'Message' %}&nbsp;<strong>*</strong>
                        </label>
                        {{ form.message }}
                        {% if form.message.errors %}{{ form.message.errors|safe }}{% endif %}
                    </div>

                    <div class="contact-form-item">
                        <input type="submit" value="{% trans 'Send e-mail' %}" class="button button-large">
                    </div>
                </form>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}
