{% extends 'page.html' %}

{% block page_meta %}
    {% if page.no_index %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
{% endblock %}

{% block canonical_url %}
    {% with resource_url=post.get_absolute_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block dc_metadata %}
    {% with resource_url=post.get_absolute_url %}
        {{ block.super }}
    {% endwith %}
    <meta property="dc:date" content="{{ post.published_at|date:"Y.m.d H:i:s" }}">
{% endblock %}

{% block og_metadata %}
    {% with resource_url=post.get_absolute_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block page_content %}
    {{ page.body|safe }}
{% endblock %}
