{% extends 'page.html' %}

{% load i18n static %}

{% block page_meta %}
    {% if page.no_index %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
{% endblock %}

{% with resource_url=page.get_absolute_url %}
    {% block canonical_url %}{{ block.super }}{% endblock %}
    {% block dc_metadata %}
        {{ block.super }}
        <meta property="dc:date" content="{{ page.published_at|date:"Y.m.d H:i:s" }}">
    {% endblock %}
{% endwith %}

{% block page_content %}
    {{ page.body|safe }}
{% endblock %}
