{% extends 'page.html' %}

{% load date_to_xmlschema %}

{% block page_meta %}
    {% if page.no_index or not settings.ALLOW_ROBOTS %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
{% endblock %}

{% block canonical_url %}
    {% with resource_url=post.get_absolute_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block dc_metadata %}
    {% with resource_url=post.get_absolute_url %}
        {{ block.super }}
    {% endwith %}
    <meta name="dc:date" content="{{ post.published_at|date_to_xmlschema }}">
{% endblock %}

{% block og_metadata %}
    {% with resource_url=post.get_absolute_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block page_content %}
    {{ page.body|safe }}
{% endblock %}
