{% extends 'base.html' %}

{% load i18n %}

{# TODO: Get title from settings #}
{% block title %}{% trans 'Blog' %} - My Blog{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="articles">
        <h1 class="page-title">{% trans 'Blog' %}</h1>

        <div class="blog-list">
            {% for post in posts %}
                {% include 'blog/partials/post-teaser.html' with post=post %}
            {% endfor %}

            {% if page_obj.paginator.num_pages > 1 %}
                <div class="divider"></div>
                {% include 'blog/partials/pagination.html' with page=page_obj %}
            {% endif %}
        </div>
    </div>
{% endblock %}
