{% extends 'base.html' %}

{% load i18n %}

{% block page_title %}{{ page_title }} - {{ block.super }}{% endblock %}

{% block post_schema %}
    <script type="application/ld+json">
    {% include 'blog/partials/page-schema.json' with page=post featured_image=post.featured_image %}
    </script>
{% endblock %}

{% block page_meta %}
    {% if post.no_index %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
{% endblock %}

{% block page_description %}
    {% if post.excerpt and post.excerpt.strip or post.meta_description and post.meta_description.strip  %}
        {% include 'blog/partials/page-description.html' with page=post %}
    {% else %}
        {% include 'partials/page-description.html' %}
    {% endif %}
{% endblock %}

{% block page_license %}
    <link rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.{{ LANGUAGE_CODE|slice:'0:2'|join:'' }}">
{% endblock %}

{% block canonical_url %}
    {% include 'partials/canonical-url.html' with resource_url=post.get_absolute_url %}
{% endblock %}

{% block sidebar %}
    {# TODO: Use sidebar-toc #}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block content %}
    <article class="post" role="document">
        <header>
            <h1 class="text-title">{{ post.title }}</h1>
        </header>

        <p class="byline">
            <time datetime="{{ post.published_at | date:"Y-m-d\TH:i:sO" }}">
                {{ post.published_at | date:"Y.m.d" }}
            </time>
        </p>

        <div class="post-body">
            {{ post.body | linebreaks }}
        </div>
    </article>
{% endblock %}
