{% extends 'post.html' %}

{% load l10n i18n static date_to_xmlschema %}

{% block page_title %}{{ page_title }} - {{ block.super }}{% endblock %}


{% block post_schema %}
    <script type="application/ld+json">
        {# TODO: Do not hardcode about_url #}
        {% include 'blog/partials/page-schema.json' with page=post featured_image=post.featured_image about_url='/pages/about.html' %}
    </script>
{% endblock %}

{% block page_meta %}
    {% if post.no_index %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
    {# TODO: Add to Post propery #}
    <meta name="rating" content="General">
{% endblock %}

{% block canonical_url %}
    {% with resource_url=post.get_absolute_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block dc_metadata %}
    {% with resource_url=post.get_absolute_url %}
        {{ block.super }}
    {% endwith %}
    <meta property="dc:date" content="{{ post.published_at|date_to_xmlschema }}">
{% endblock %}

{% block og_metadata %}
    {% with resource_url=post.get_absolute_url  resource_type='article' featured_image=post.featured_image %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block twitter_metadata %}
    {% with featured_image=post.featured_image %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block sidebar %}
    {# TODO: Use sidebar-toc #}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block content %}
    <article class="{{ page_type|default:'post' }}" role="document">
        {% block post_content %}
            <header>
                <h1 class="text-title">{{ post.title }}</h1>
            </header>

            <p class="byline">
                <time datetime="{{ post.published_at|date_to_xmlschema }}">
                    {{ post.published_at|date:"b d, Y"|localize|title }}
                </time>
                {% if post.is_updated  %}
                    {% blocktranslate trimmed with updated_at=post.updated_at|date:"b d, Y"|localize|title %}
                        (Updated on {{ updated_at }})
                    {% endblocktranslate %}
                {% endif %}
            </p>

            <div class="post-body">
                {{ post.body|safe }}
            </div>

            <hr>

            {% include 'partials/messages.html' %}

            <section class="comment-thread" id="comment-thread">
                {% with total_comments=comments.count  %}
                    {%  if total_comments > 0 %}
                        <div class="d-flex flex-items-center flex-wrap">
                            <h4 id="discussion-comment-count">
                                {% blocktrans trimmed count total_comments=total_comments %}
                                    {{ total_comments }} comment
                                {% plural %}
                                    {{ total_comments }} comments
                                {% endblocktrans %}
                            </h4>
                        </div>
                    {% endif %}
                {%  endwith %}
                {% for comment in comments %}
                    {% include 'blog/partials/comment.html' with comment=comment %}
                {% empty %}
                    <article class="comment" id="comment-0">
                        <div class="d-flex flex-items-center">
                            <div class="comment-body">
                                {% trans 'There are no comments yet.' %}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </section>

            <section class="comment-form-wrapper" role="dialog">
                {% include 'blog/partials/comment-form.html' with form=form %}
            </section>

        {% endblock %}
    </article>
{% endblock %}
