{% extends 'base.html' %}

{% load i18n %}

{# TODO: Get title from settings #}
{% block title %}{{ post.title }} - My Blog{% endblock %}

{% block post_schema %}
    <script type="application/ld+json">
    {% include 'blog/partials/page-schema.json' with page=post %}
    </script>
{% endblock %}

{% block content %}
    <article class="post" role="document">
        <header>
            <h1 class="text-title">{{ post.title }}</h1>
        </header>

        <p class="byline">
            <time datetime="{{ post.published_at | date:"Y-m-d\TH:i:sO" }}">
                {{ post.published_at | date:"Y.m.d" }}
            </time>
        </p>

        <div class="post-body">
            {{ post.body | linebreaks }}
        </div>
    </article>
{% endblock %}
