/* Common Variables */

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */
$second-font-size: .9em;

/* Colors */
$text-light-color: #676767;
$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;

// - - - - - - - - - - Foundations

@import "reset";

// - - - - - - - - - - Global styles

@import "ed";
@import "syntax";
@import "customize";
@import "includes/form-elements";
@import "includes/comments";
