{% extends 'base.html' %}

{% load locale_helpers %}

{% block page_title %}{{ seo_title }} - {{ block.super }}{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block content %}
    {% if seo_locale and seo_locale.strip %}
    <article class="page" lang="{{ seo_locale|to_language }}">
    {% else %}
    <article class="page" lang="{{ LANG }}">
    {% endif %}
        {% block page_content %}{% endblock %}
    </article>

    <hr>

    {% include 'partials/mini-toc.html' %}
{% endblock %}
