{% extends 'base.html' %}

{% load i18n %}

{% block page_title %}404 - {{ block.super }}{% endblock %}

{% block page_description %}
    <meta name="description" content="{% trans 'The page you are looking for does not exist.' %}">
{% endblock %}

{# Disable keywords #}
{% block page_keywords %}{% endblock %}

{# Disable indexing #}
{% block page_meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{# There is no canonical URL  #}
{% block canonical_url %}{% endblock %}

{# Disable microdata #}
{% block dc_metadata %}{% endblock %}
{% block og_metadata %}{% endblock %}
{% block og_page_type %}{% endblock %}
{% block twitter_metadata %}{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block content %}
    <section class="introduction">
        <div class="container">
            <h1 class="accent">404</h1>
            <p><strong>{% trans 'Page Not Found.' %}</strong></p>
        </div>

        <p>{% trans 'Something went wrong. The page you are requesting does not exist.' %}</p>
        <p>
            {% blocktranslate trimmed %}
                Perhaps you entered the wrong address or I moved the page.
                If you think there should be a page here, please contact me
            {% endblocktranslate %}
            <a href="{% url 'telegraph:contact_form' %}">{% trans 'using contact form' %}</a>.
        </p>
    </section>
    <hr>

    {% include 'partials/mini-toc.html' %}
{% endblock %}
