{% extends 'base.html' %}

{% load i18n %}

{% block page_title %}{% trans 'Page Not Found.' %} - {{ block.super }}{% endblock %}

{% block page_description %}
    <meta name="description" content="{% trans 'The page you are looking for does not exist.' %}">
{% endblock %}

{# Disable keywords #}
{% block page_keywords %}{% endblock %}

{# Disable indexing #}
{% block page_meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{# There is no canonical URL  #}
{% block canonical_url %}{% endblock %}

{# Disable microdata #}
{% block dc_metadata %}{% endblock %}
{% block og_metadata %}{% endblock %}
{% block og_page_type %}{% endblock %}
{% block twitter_metadata %}{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block content %}
    <section class="introduction">
        <div class="container">
            <h1 class="accent">404</h1>
            <p><strong>{% trans 'Page Not Found.' %}</strong></p>
        </div>

        <p>
            {% blocktranslate trimmed %}
                The page or file you requested wasn't found on my site. It's possible that
                you clicked a link that's out of date, or typed in the address incorrectly.
            {% endblocktranslate %}
        </p>

        <ul>
            <li>{% trans 'If you typed in the address, please double check the spelling.' %}</li>
            <li>
                {% url 'telegraph:contact_form' as contact_form_link %}
                {% with '<a href="'|add:contact_form_link|add:'">'|safe as open_contact_link %}
                {% with '<a href="https://github.com/sergeyklay/branch/issues/new">'|safe as open_bug_link %}
                {% blocktranslate trimmed with link_end='</a>'|safe %}
                    If you followed a link from somewhere, please contact me
                    {{ open_contact_link }}using contact form{{ link_end }} or
                    {{ open_bug_link }}file an issue{{ link_end }}. Tell me
                    where you came from and what you were looking for, and I'll
                    do our best to fix it.
                {% endblocktranslate %}
                {% endwith %}
                {% endwith %}
            </li>
        </ul>
    </section>
    <hr>

    {% include 'partials/mini-toc.html' %}
{% endblock %}
