      ____  ____  ___    _   __________  __
     / __ )/ __ \/   |  / | / / ____/ / / /
    / __  / /_/ / /| | /  |/ / /   / /_/ /
   / /_/ / _, _/ ___ |/ /|  / /___/ __  /
  /_____/_/ |_/_/  |_/_/ |_/\____/_/ /_/

{% load i18n %}
{% trans 'CONGRATULATIONS, you found my humans.txt file!' %}

───────────────────────────────────────────────────────────────────────────────

    /* {% trans 'TEAM' %} */

    {% trans 'Author:' %} {% trans 'Serghei Iakovlev (egrep)' %}
    {% trans 'Contact:' %} mail [at] {{ domain }}
    {% trans 'GitHub:' %} @sergeyklay
    {% trans 'From:' %} {% trans 'Kyiv, Ukraine' %}

    /* {% trans 'SITE' %} */

    {% trans 'Last update:' %} {{ build_date }}
    {% trans 'Language:' %} {% trans 'Russian' %}, {% trans 'Ukrainian' %}, {% trans 'English' %}
    {% trans 'Doctype:' %} HTML5
    {% trans 'Standards:' %} Python 3, HTML5, CSS3, Open Graph protocol,
               Dublin Core metadata, Schema.org
    {% trans 'Components:' %} Django, jQuery, Ed Theme

