      ____  ____  ___    _   __________  __
     / __ )/ __ \/   |  / | / / ____/ / / /
    / __  / /_/ / /| | /  |/ / /   / /_/ /
   / /_/ / _, _/ ___ |/ /|  / /___/ __  /
  /_____/_/ |_/_/  |_/_/ |_/\____/_/ /_/


CONGRATULATIONS, you found my humans.txt file!

───────────────────────────────────────────────────────────────────────────────

    /* TEAM */

    Author: Serghei (egrep) Iakovlev
    Contact: mail [at] {{ domain }}
    GitHub: @sergeyklay
    From: Kyiv, Ukraine

    /* SITE */

    Last update: {{ build_date }}
    Language: Russian, Ukrainian, English
    Doctype: HTML5
    Standards: Python 3, HTML5, CSS3, Open Graph protocol,
               Dublin Core metadata, Schema.org
    Components: Django, jQuery, Ed Theme

