-r requirements.in
django-debug-toolbar
django-extensions
factory-boy
faker
flake8
flake8-blind-except
flake8-builtins
flake8-docstrings
flake8-import-order
pylint
pylint-django
pytest
pytest-cov
pytest-django
