{% load date_to_xmlschema %}

<article class="comment" id="comment-{{ comment.pk }}">
    <div class="d-flex flex-items-center">
        <div class="comment-meta">
            <h3 class="comment-author">
                {{ comment.name }}
            </h3>
            <span class="m-0">
                <time datetime="{{ comment.submit_date|date_to_xmlschema }}">
                    {{ comment.submit_date|date:"Y.m.d" }}
                </time>
            </span>
        </div>
    </div>

    <div class="comment-body">
        {{ comment.comment|safe|linebreaks }}
    </div>
</article>
